body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
    width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

button {
  font-size: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
display: flex;
  padding: 10px;
  margin-bottom: 5px;
  background: #e9e9e9;
  align-items: center;
  border-radius: 5px;
}

li span {
  flex: 1;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}


.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  width: auto !important;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: #a71d1d;
}

.complete-btn {
  width: auto !important;
  background-color: #007bff;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.complete-btn:hover {
  background-color: #0056b3;
}
